<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="demo">
            <h2><span jhiTranslate="whbApp.demo.detail.title">Demo</span> {{demo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="whbApp.demo.regionName">Region Name</span></dt>
                <dd>
                    <span>{{demo.regionName}}</span>
                </dd>
                <dt><span jhiTranslate="whbApp.demo.regionTime">Region Time</span></dt>
                <dd>
                    <span>{{demo.regionTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/demo', demo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
