<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-best-user-heading" jhiTranslate="whbApp.bestUser.home.createOrEditLabel">Create or edit a Best User</h2>
            <jhi-alert-error></jhi-alert-error>
            <jhi-alert></jhi-alert>
            <div  *ngIf="showBestUser">

                <div class="form-group" [hidden]="!bestUser.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="bestUser.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.userName" for="field_userName">User Name</label>
                    <input type="text" class="form-control" name="userName" id="field_userName"
                           [(ngModel)]="bestUser.userName" required/>
                    <div [hidden]="!(editForm.controls.userName?.dirty && editForm.controls.userName?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.userName?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.value1" for="field_value1">Value 1</label>
                    <input type="number" class="form-control" name="value1" id="field_value1"
                           required
                           [(ngModel)]="bestUser.value1" min="0" jhiMin="0" max="5" jhiMax="5"/>
                    <div [hidden]="!(editForm.controls.value1?.dirty && editForm.controls.value1?.invalid)">

                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value1?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value1?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value1?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value1?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.value2" for="field_value2">Value 2</label>
                    <input type="number" class="form-control" name="value2" id="field_value2"
                           required
                           [(ngModel)]="bestUser.value2" min="0" jhiMin="0" max="5" jhiMax="5"/>
                    <div [hidden]="!(editForm.controls.value2?.dirty && editForm.controls.value2?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value2?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value2?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value2?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value2?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.value3" for="field_value3">Value 3</label>
                    <input type="number" class="form-control" name="value3" id="field_value3"
                           required
                           [(ngModel)]="bestUser.value3" min="0" jhiMin="0" max="5" jhiMax="5"/>
                    <div [hidden]="!(editForm.controls.value3?.dirty && editForm.controls.value3?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value3?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value3?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value3?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value3?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.value4" for="field_value4">Value 4</label>
                    <input type="number" class="form-control" name="value4" id="field_value4"
                           required
                           [(ngModel)]="bestUser.value4" min="0" jhiMin="0" max="5" jhiMax="5"/>
                    <div [hidden]="!(editForm.controls.value4?.dirty && editForm.controls.value4?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value4?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value4?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value4?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value4?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
        <!--        <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.value5" for="field_value5">Value 5</label>
                    <input type="number" class="form-control" name="value5" id="field_value5"
                           [(ngModel)]="bestUser.value5" min="0" jhiMin="0" max="5" jhiMax="5"/>
                    <div [hidden]="!(editForm.controls.value5?.dirty && editForm.controls.value5?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value5?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value5?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value5?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.value6" for="field_value6">Value 6</label>
                    <input type="number" class="form-control" name="value6" id="field_value6"
                           [(ngModel)]="bestUser.value6" min="0" jhiMin="0" max="5" jhiMax="5"/>
                    <div [hidden]="!(editForm.controls.value6?.dirty && editForm.controls.value6?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value6?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value6?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value6?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.value7" for="field_value7">Value 7</label>
                    <input type="number" class="form-control" name="value7" id="field_value7"
                           [(ngModel)]="bestUser.value7" min="0" jhiMin="0" max="5" jhiMax="5"/>
                    <div [hidden]="!(editForm.controls.value7?.dirty && editForm.controls.value7?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value7?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value7?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value7?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.value8" for="field_value8">Value 8</label>
                    <input type="number" class="form-control" name="value8" id="field_value8"
                           [(ngModel)]="bestUser.value8" min="0" jhiMin="0" max="5" jhiMax="5"/>
                    <div [hidden]="!(editForm.controls.value8?.dirty && editForm.controls.value8?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value8?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value8?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value8?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.value9" for="field_value9">Value 9</label>
                    <input type="number" class="form-control" name="value9" id="field_value9"
                           [(ngModel)]="bestUser.value9" min="0" jhiMin="0" max="5" jhiMax="5"/>
                    <div [hidden]="!(editForm.controls.value9?.dirty && editForm.controls.value9?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value9?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value9?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value9?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.value10" for="field_value10">Value 10</label>
                    <input type="number" class="form-control" name="value10" id="field_value10"
                           [(ngModel)]="bestUser.value10" min="0" jhiMin="0" max="5" jhiMax="5"/>
                    <div [hidden]="!(editForm.controls.value10?.dirty && editForm.controls.value10?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value10?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value10?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value10?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.value11" for="field_value11">Value 11</label>
                    <input type="number" class="form-control" name="value11" id="field_value11"
                           [(ngModel)]="bestUser.value11" min="0" jhiMin="0" max="5" jhiMax="5"/>
                    <div [hidden]="!(editForm.controls.value11?.dirty && editForm.controls.value11?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value11?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value11?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value11?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.value12" for="field_value12">Value 12</label>
                    <input type="number" class="form-control" name="value12" id="field_value12"
                           [(ngModel)]="bestUser.value12" min="0" jhiMin="0" max="5" jhiMax="5"/>
                    <div [hidden]="!(editForm.controls.value12?.dirty && editForm.controls.value12?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value12?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value12?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.value12?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.yuanyin" for="field_yuanyin">Yuanyin</label>
                    <textarea class="form-control" name="yuanyin" id="field_yuanyin"
                              cols="5"
                              [rows]="5"
                              required
                              [(ngModel)]="bestUser.yuanyin"></textarea>
                    <div [hidden]="!(editForm.controls.yuanyin?.dirty && editForm.controls.yuanyin?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.yuanyin?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.des1" for="field_des1">Des 1</label>
                    <input type="text" class="form-control" name="des1" id="field_des1"
                           [(ngModel)]="bestUser.des1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.des2" for="field_des2">Des 2</label>
                    <input type="text" class="form-control" name="des2" id="field_des2"
                           [(ngModel)]="bestUser.des2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.des3" for="field_des3">Des 3</label>
                    <input type="text" class="form-control" name="des3" id="field_des3"
                           [(ngModel)]="bestUser.des3" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.des4" for="field_des4">Des 4</label>
                    <input type="text" class="form-control" name="des4" id="field_des4"
                           [(ngModel)]="bestUser.des4" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.des5" for="field_des5">Des 5</label>
                    <input type="text" class="form-control" name="des5" id="field_des5"
                           [(ngModel)]="bestUser.des5" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.des6" for="field_des6">Des 6</label>
                    <input type="text" class="form-control" name="des6" id="field_des6"
                           [(ngModel)]="bestUser.des6" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="whbApp.bestUser.des7" for="field_des7">Des 7</label>
                    <input type="text" class="form-control" name="des7" id="field_des7"
                           [(ngModel)]="bestUser.des7" />
                </div>-->

            </div>
            <div  *ngIf="showBestUser">
                <button type="button" id="cancel-save" class="btn btn-secondary"
                        (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span >重置</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span >提交</span>
                </button>
            </div>
        </form>
    </div>
</div>
